@model Cumulative1.Models.Class

@{
    ViewBag.Title = "Show";
}

<h2>@Model.ClassCode @Model.ClassName </h2>
<a style="color:red;" href="/Class/DeleteConfirm/@Model.ClassId">Delete Class</a>
<p>@Model.TeacherId</p>
<p>@Model.StartDate</p>
<p>@Model.FinishDate</p>

